

.layout{
  width: 75%;
  margin: auto;
  text-align: center;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .book {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;

    img {
      width: 200px;
      height: 300px;
      object-fit: cover;
    }

    button {
      padding: 3px 15px;
      background-color: white;
      cursor: pointer;
    }
    .delete {
      border: 1px solid rgb(245, 191, 191);
      color: rgb(242, 100, 100);
      margin-bottom: 10px;
    }
    .update {
      border: 1px solid rgb(204, 204, 243);
      color: rgb(139, 139, 234);
    }
  }
}

.add {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    padding: 10px 5px;
    width: 300px;
  }
}

.update {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    padding: 10px 5px;
    width: 300px;
  }
}

.nav{
  margin-bottom: 50px;
  ul{
    display: flex;
    gap: 20px;
    
    li{
      list-style-type: none;
      a{
        text-transform: capitalize;
        text-decoration: none;
      }
      
    }
  }
}


